# ==========================
# Backup Files
# ==========================
*.bak
*.old
*.tmp
*.temp

# ==========================
# Logs
# ==========================
*.log

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Linux
# ==========================
*~

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Node
# ==========================
node_modules/

# ==========================
# Python
# ==========================
__pycache__/
*.pyc

# ==========================
# Local Environment
# ==========================
.env
.env.local
